/* === GLOBAL RESET === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("../image/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* === NAVBAR === */
nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background: #1a1a1a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 18px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background: #e60012;
    box-shadow: 0 4px 15px rgba(230, 0, 18, 0.4);
    transform: translateY(-2px);
}



/* === MAIN CONTENT === */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.container {
    background-color: rgba(26, 26, 26, 0.95);
    border-radius: 15px;
    padding: 40px 60px;
    text-align: center;
    width: 380px;
    box-shadow: none;
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}

.subtitle {
    font-size: 13px;
    color: #ccc;
    margin-bottom: 25px;
}

/* Inputs */
.input-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    font-size: 13px;
    color: #ddd;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #ffffff;
    color: #000000;
    font-size: 13px;
    transition: 0.3s;
}

input:focus {
    outline: none;
    border-color: #e60012;
    box-shadow: 0 0 6px rgba(230, 0, 18, 0.5);
}

.strength {
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    background-color: #e60012;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #b8000f;
    transform: translateY(-3px);
}

/* Footer */
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    font-size: 13px;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

